html {
    height: 100%;
    width: 100%;
    background-color: #8b1359;
    font-size: 1.2em;
}

body {
    text-align: center;
    font-size: 1.2em;
    text-shadow: #18171C 1px 1px;
}

h1 {
    color: #65d7ab;
    text-shadow: #18171C 2px 2px;
}

div {
    color: #65d7ab;
}

form {
    color: #65d7ab;
}

a.title {
    color: #72b0f3;
    text-decoration: none;
    transition-duration: 0.3s;
}

a.title:hover {
    /* font-size: 1.2em; */
    color: rgb(118, 1, 196);
    text-decoration: underline;
}

a.list {
    color: #72b0f3;
    background-color:#176782;
    text-decoration: none;
    transition-duration: 0.15s;

}

a.update:hover {
    background-color: #178247;
}
a.delete:hover {
    background-color: rgb(233, 75, 13);
}

a.list:hover {
    color: rgb(118, 1, 196);
    text-decoration: none;
}

button {
    color: #9c1d1d;
    background-color: #18171C;
    font-size: 1.1em;
    border: none;
    border-radius: 3px 3px;
    transition-duration: 0.1s;
}

button:hover {
    background-color: #7F7679;
}

select {
    color: #173782;
}

p {
    color: #dea43f;
}

div.container {
    display: flex;
    margin: 10px;

}
.cols {
    flex-direction: column;
}
.jcenter {
    justify-content: center;
}

.acenter {
    align-items: center;
}
.tcenter {
    text-align: center;
}


.tleft {
    text-align: left;
}

.aleft {
    align-items: left;
}

.jleft {
    justify-content: left;
}

footer {
    text-align: center;
    color: #9ad0bb;
}

.m {
    margin-left: 8px;
}

.cwidth {
    width: 900px;
}
.bgcolor {
    background-color: #176782;
}

.test {
    border: 3px solid black;
}

.test1 {
    border: 3px solid rgb(240, 240, 240);
}