<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CRUD Operations</title>
</head>

<body>
    <h1>Update/Delete Authors - <a href="/">Home</a></h1>
    <% for (author of authors) { %>
        <a href="/author/edit?authorId=<%=author.authorId%>">UPDATE</a>
        <a href="/author/delete?authorId=<%=author.authorId%>">DELETE</a>
        <%=author.firstName%>
            <%=author.lastName%> <br>
                <% } %>
</body>

</html>