<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CRUD Operations</title>
</head>

<body>
    <h1>Update/Delete Quotes - <a href="/">Home</a></h1>
    <% for (quote of quotes) { %>
        <a href="/quote/edit?quoteId=<%=quote.quoteId %>">UPDATE</a>
        <a href="/quote/delete?quoteId=<%=quote.quoteId%>">DELETE</a>
        <%=quote.quote%>
        <br>
    <% } %>
</body>

</h tml>